.Body{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;

}
.Text{
  position: relative;
  height: auto;
  width: 50%;
  min-width: 320px;
  margin-left: min(5%, 40px);
  display: flex;
  flex-direction: column;
}
.Canvas{
  width: 40%;
  min-width: 400px;
}